<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764122592903-0oolo67h49ajenln095nhfv0l51svmi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764122592903-0oolo67h49ajenln095nhfv0l51svmi4</string>
	<key>API_KEY</key>
	<string>AIzaSyBu0dsJDsrzop1UTcXdpfN2NaA_1i_8ur4</string>
	<key>GCM_SENDER_ID</key>
	<string>764122592903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssoft.ssoftVistoria</string>
	<key>PROJECT_ID</key>
	<string>ssoft-vistoria</string>
	<key>STORAGE_BUCKET</key>
	<string>ssoft-vistoria.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764122592903:ios:128611e1483374bc60ea22</string>
	<key>DATABASE_URL</key>
	<string>https://ssoft-vistoria-default-rtdb.firebaseio.com</string>
</dict>
</plist>